<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExections="true"
        convertNoticesToExecptions="true"
        convertWarningsToExeceptions="true"
        processIsolation="false"
        stopOnFailure="true"
        syntaxCheck="false"
        bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="TsVector Extension">
            <directory suffix="Test.php">./VertigoLabs/TsVector</directory>
        </testsuite>
        <testsuite name="TsQuery Function">
            <directory suffix="Test.php">./VertigoLabs/TsQuery</directory>
        </testsuite>
        <testsuite name="TsRank Function">
            <directory suffix="Test.php">./VertigoLabs/TsRank</directory>
        </testsuite>
    </testsuites>
</phpunit>
